<!DOCTYPE html>
<html lang="es"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Usuario</title>
</head>
<body>
    <div class="container">
        <h2>Detalles del Usuario</h2>
        <p><strong>Nombre:</strong> <span th:text="${usuario.nombre}"></span></p>
        <p><strong>Username:</strong> <span th:text="${usuario.username}"></span></p>
        <p><strong>Email:</strong> <span th:text="${usuario.email}"></span></p>
        <p><strong>Dirección:</strong> <span th:text="${usuario.direccion}"></span></p>
    </div>
</body>
</html>